<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" 
		content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Docs</title>

		{% load staticfiles %}
		{% load static %}
		{% load i18n %}

		<link rel="stylesheet" 
		href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
		
	</head>

	<body>

		<a href="" class="btn btn-default">
			Login with FenixEdu
		</a>

		<script type="text/javascript" 
		src='{% static 'jquery/dist/jquery.min.js' %}'>
		</script>
		<script type="text/javascript" 
		src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'>
		</script>

	</body>
</html>